body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.artists-grid {
    display: flex;
    color: var(--hover-color);
    font-weight: 100;
    font-size: small;
    max-width: 50%;
}

.artist-card {
    text-align: center;
    color: #fff;
    background: #222;
    padding: 10px;
    border-radius: 8px;
}

.artist-card img {
    max-width: 100%;
    border-radius: 50%;
}
