/* Renk Değişkenleri */
:root {
    --bg-color: #121212;
    --primary-color: #000000;
    --accent-color: #282828;
    --hover-color: #404040;
    --text-color: #fff;
    --secondary-text-color: #999999;
}

/* Genel Ayarlar */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#wrapper {
    background-color: var(--primary-color);
    cursor: pointer;
    display: flex;
    margin: 10px auto;
    padding: 10px 0;
    max-width: auto;
    /* Daha geniş bir maksimum genişlik */
}

#wrapper #logo-img img {
    padding: 10px 0;
    max-width: 40px;
}

.list-group #playlist {
    padding: 20px;
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: small;
}

#sidebar-wrapper {
    width: 450px;
    /* Biraz daha geniş */
    cursor: pointer;
    background-color: var(--bg-color);
}

#sidebar-wrapper .sidebar-heading {
    background-color: var(--primary-color);
}

.list-group {
    border: 1px solid var(--bg-color);
    cursor: pointer;
    padding: 15px;
    padding-bottom: 55px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: small;
    font-weight: 600;
}

.list-group .btn h5 {
    border: 1px solid var(--bg-color);
    font-size: large;
    font-weight: 600;
}

.list-group #playlist .btn {
    border: 1px solid var(--bg-color);
    padding: 10px 20px;
    font-size: small;
    font-weight: 700;
}

.list-group #playlist .btn:hover {
    transform: scale(1.05);
    background-color: var(--text-color);
}

#bookshelf {
    background-color: var(--bg-color);
}

/* Buton hover stili */
.hover-button {
    color: var(--secondary-text-color);
    /* Butonun normal metin rengi */
    background-color: var(--bg-color);
    border: none;
}

.hover-button:hover {
    color: var(--text-color);
    /* Butonun üzerine gelince metin rengini beyaz yap */
}

.sidebar-heading img {
    max-width: 50px;
    height: auto;
    margin: 15px;
}

#page-content-wrapper {
    flex-grow: 1;
    width: calc(100% - 270px);
    background-color: var(--primary-color);
    padding-right: 15px;
}

.navbar .nav-link {
    padding: 10px;
    margin: 5px 5px;
    border: var(--primary-color);
    border-radius: 35%;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 600;
}

.navbar .nav-link-active {
    padding: 5px 40px;
    margin: 5px 5px;
    border-radius: 30px;
    background-color: var(--text-color);
    border: var(--primary-color);
    font-weight: 600;
}

.navbar .nav-link-active:hover {
    transform: scale(1.05);
    background-color: var(--text-color);
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
    background-color: var(--primary-color);
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-show-all {
    margin-left: auto;
    color: var(--hover-color);
    font-weight: 700;
    font-size: small;

}

.btn-show-all:hover {
    text-decoration-line: underline;
    color:  var( --text-color);
}

/* Öne Çıkan Listeler Header düzenleme */
#featured-lists-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* "Tümünü Göster" butonu */
.btn-link {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: #fff; /* Buton yazı rengi */
    background-color: #282828; /* Buton arka plan rengi */
    padding: 10px 20px; /* Buton iç boşlukları */
    border-radius: 20px; /* Buton kenar yumuşatma */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hover efekti */
}

.btn-link:hover {
    background-color: #121212; /* Hover sırasında arka plan rengi */
    text-decoration: underline;
}

/* Öne çıkan listeler kart düzenleme */
#featured-lists-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.list-card {
    background-color: #282828;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    color: #fff;
    text-align: center;
    transition: transform 0.3s;
}

.list-card:hover {
    transform: scale(1.05);
}


/* Sanatçı ve albüm resimlerinin boyutunu ve şeklini değiştirme */
.card-body {
    background-color: var(--primary-color);
    width: auto;
    /* Resmin genişliğini belirleyin */
    height: auto;
    /* Resmin yüksekliğini belirleyin */
    border-radius: 50%;
    /* Yuvarlak yapmak için */
    object-fit: cover;
    /* Resmin düzgün şekilde sığmasını sağlar */
    transition: transform 0.3s ease;
    /* Efekt geçişini düzenleme */
}

.card img {
    background-color: var(--bg-color);
    border-radius: 50%;
    /* Yuvarlak yapmak için */
    object-fit: cover;
    /* Resmin düzgün şekilde sığmasını sağlar */
}

.card {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* Aralarına boşluk ekleyebilirsiniz */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

/* Detay ayarları */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--bg-color);
}

.form-control {
    background-color: var(--bg-color);
    border: none;
    border-radius: 50px;
    color: var(--text-color);
    width: 70%;
    /* Daha geniş bir arama çubuğu */
    margin-right: 20px;
}

/* "Tümünü göster" butonu */
.btn-link {
    text-decoration: none;
    font-size: 1rem;
}

.btn-link:hover {
    text-decoration: underline;
}

.footer {
    padding: 20px 0;
    border-top: 1px solid var(--accent-color);
}

.footer ul {
    margin: 5px 10px;
    padding: 0;
    display: block;
}

.footer ul li {
    margin: 10px;
    display: inline-block;
    justify-content: space-evenly;
    font-size: small;
    font-weight: 100;
    color: var(--text-color);
}

.footer .language-btn {
    margin: 20px;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

/* Scrollbar Özelleştirme */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--hover-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg-color);
}

/* Responsive Ayarlar */
@media (max-width: 1200px) {
    #wrapper {
        max-width: 100%;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        width: calc(100% - 250px);
    }
}

@media (max-width: 992px) {
    #wrapper {
        flex-direction: flex;
    }

    #sidebar-wrapper {
        width: 30%;
        height: auto;
    }

    #page-content-wrapper {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container-fluid {
        padding-right: 55px;
        padding-left: 15px;
    }

    .card {
        margin-bottom: 10px;
    }
}